# ------------------------------------------------------------------------------
# OraDBA - Oracle Database Infrastructure and Security, 5630 Muri, Switzerland
# ------------------------------------------------------------------------------
# Name.......: au_create_home.cfg
# Purpose....: Generic template - create a new Oracle Home from the staged
#              download folder. A gold image in the folder is used automatically
#              (stage EXTRACT, "Extracting Gold Image") - no 19.3 base install.
# Usage......: AU_SOURCE_HOME=<current home> AU_TARGET_HOME=<new home> \
#                au_run.sh -config au_create_home.cfg -patch -mode create_home
# Variables..: AU_PATCH           identical to the download (au_patch.env pins it)
#              AU_TARGET_VERSION  19 (default)
#              AU_SOURCE_HOME     existing, installed Oracle Home (bin/orabase is run
#                                 at config time). AutoUpgrade takes ORACLE_BASE,
#                                 edition, OS groups (rdbms/lib/config.c) and binary
#                                 options (ar -t libknlopt.a, relink in stage OPTIONS)
#                                 from it - per 26.6 code, not yet verified end to end
#              AU_TARGET_HOME     new home, must not exist or be empty
#                                 (e.g. /u00/app/oracle/product/19.32.0.0)
#              AU_LOG_DIR, AU_DOWNLOAD_FOLDER  default below AUTOUPGRADE_BASE
# Notes......: - No global.keystore: create_home never downloads, and an
#                auto-login keystore copied from another host fails to load
#                ("Loading auto-login keystore failed").
#              - Without a source home, set platform, home_settings.oracle_base,
#                edition, inventory_location, inventory_group and the os*_group
#                parameters explicitly (groups default to dba).
#              - Verify the new home before deploy: compare ar -t libknlopt.a and
#                rdbms/lib/config.c with the source home.
# Reference..: AutoUpgrade 26.6 -patch -help, doc/proxy-and-truststore.md
# License....: Apache License Version 2.0
# ------------------------------------------------------------------------------
global.global_log_dir=${AU_LOG_DIR}

patch1.source_home=${AU_SOURCE_HOME}
patch1.target_home=${AU_TARGET_HOME}
patch1.target_version=${AU_TARGET_VERSION}
patch1.download_folder=${AU_DOWNLOAD_FOLDER}
patch1.patch=${AU_PATCH}
