# ------------------------------------------------------------------------------
# OraDBA - Oracle Database Infrastructure and Security, 5630 Muri, Switzerland
# ------------------------------------------------------------------------------
# Name.......: au_deploy.cfg
# Purpose....: Generic template - out-of-place patching of one database: move
#              AU_SID from AU_SOURCE_HOME to AU_TARGET_HOME and run datapatch.
# Usage......: AU_SID=<sid> AU_SOURCE_HOME=<current home> AU_TARGET_HOME=<new home> \
#                au_run.sh -config au_deploy.cfg -patch -mode analyze
#              ... -patch -mode deploy
# Variables..: AU_PATCH           identical to download and create_home (au_patch.env)
#              AU_SID             database to patch
#              AU_SOURCE_HOME     current home of the database (mandatory for deploy)
#              AU_TARGET_HOME     new home; created by deploy if it does not exist,
#                                 otherwise its patches must match AU_PATCH exactly
#                                 (opatch lspatches, THL_PATCH_MISMATCH)
#              AU_LOG_DIR, AU_DOWNLOAD_FOLDER  default below AUTOUPGRADE_BASE
# Notes......: - Recommended: create the home once with au_create_home.cfg,
#                verify it, then deploy each database against it.
#              - No global.keystore: deploy does not download.
#              - Data Guard, listener, oratab and symlinked dbs/ or network/admin
#                files need site-specific handling (Ansible, Phase 3).
# Reference..: AutoUpgrade 26.6 -patch -help, doc/proxy-and-truststore.md
# License....: Apache License Version 2.0
# ------------------------------------------------------------------------------
global.global_log_dir=${AU_LOG_DIR}

patch1.sid=${AU_SID}
patch1.source_home=${AU_SOURCE_HOME}
patch1.target_home=${AU_TARGET_HOME}
patch1.download_folder=${AU_DOWNLOAD_FOLDER}
patch1.patch=${AU_PATCH}
