# ------------------------------------------------------------------------------
# OraDBA - Oracle Database Infrastructure and Security, 5630 Muri, Switzerland
# ------------------------------------------------------------------------------
# Name.......: au_download.cfg
# Purpose....: Generic template - download patches (and optionally an Oracle
#              gold image) for the current recommendation or a pinned RU.
#              Run on the download host only (needs the MOS keystore).
# Usage......: au_run.sh -config au_download.cfg -patch -mode download
#              AU_GOLD_IMAGE=YES au_run.sh -config au_download.cfg -patch -mode download
# Variables..: Set by au_run.sh defaults, etc/autoupgrade.env or the caller:
#              AU_PATCH           RECOMMENDED (default) or e.g. RU:19.32,OPATCH,OJVM,DPBP,MRP
#              AU_TARGET_VERSION  19 (default)
#              AU_PLATFORM        LINUX.X64 (default; otherwise the host platform)
#              AU_GOLD_IMAGE      NO (default) | YES | AUTO | ALL
#              AU_LOG_DIR, AU_KEYSTORE, AU_DOWNLOAD_FOLDER  default below AUTOUPGRADE_BASE
# Notes......: - Do not combine RECOMMENDED with RU:x.y (26.x requires the same
#                version on both). CSPU is rejected on Linux for 19c - use MRP.
#              - AU_GOLD_IMAGE=YES fails hard when the Oracle Update Advisor cannot
#                be used; AUTO silently falls back to zips (INFO in the log only).
#              - create_home and deploy must use the same AU_PATCH. With RECOMMENDED,
#                create_home picks the newest RU in the folder - pin it after the
#                download: echo 'AU_PATCH=RECOMMENDED:19.32' > ${AU_DOWNLOAD_FOLDER}/au_patch.env
#                (version = releaseUpdate in patches_info.json; read by au_run.sh).
#              - Copy the whole download folder (incl. bug-map.json and
#                patches_info.json) when staging on another host.
# Reference..: AutoUpgrade 26.6 -patch -help, doc/proxy-and-truststore.md
# License....: Apache License Version 2.0
# ------------------------------------------------------------------------------
global.global_log_dir=${AU_LOG_DIR}
global.keystore=${AU_KEYSTORE}

patch1.platform=${AU_PLATFORM}
patch1.target_version=${AU_TARGET_VERSION}
patch1.download_folder=${AU_DOWNLOAD_FOLDER}
patch1.patch=${AU_PATCH}
patch1.gold_image=${AU_GOLD_IMAGE}
