# AutoUpgrade Download Configuration File
# Generated on: 2025-10-21 11:52:59
# Oracle Database Release Update Version: 19.27
global.global_log_dir=$AUTOUPGRADE_BASE/logs
global.keystore=$AUTOUPGRADE_BASE/keystore

# Build block to download patches for release update 19.27 for target architecture arm64
build.platform=ARM.x64
build.folder=$AUTOUPGRADE_BASE/patches
build.target_home=/tmp/dummy_build
build.patch=RU:19.27,OPATCH,OJVM,DPBP
